//
// Main init file of global bootstrap and theme functions, mixins, variables and config
//


// Functions
@import "base/functions";

// Mixins
@import "base/mixins";
@import "components/mixins";
@import "vendors/plugins/mixins";

// Bootstrap mixins
@import "~bootstrap/scss/mixins";

// Global variables
@import "components/variables.demo";
@import "components/variables.bootstrap";
@import "components/variables.custom";

// 3rd-Party plugins variables
@import "vendors/plugins/variables";

// Theme layout variables
@import "layout/variables";

@import "../../../app/components/ImageUpload/image_upload.scss";

.MuiTooltip-popper * {
  font-size: 13px;
  font-weight: 300;
  color: white;
}
.MuiTabs-flexContainer {
  display: flex;
  justify-content: space-between;
}

.table_icon {
  background: #F3F6F9;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  color: #BF2429;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px
}

.no_bg {
  background: none;
}